{% load staticfiles %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Цитата</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">

    <script>document.documentElement.className = 'js';</script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <h5>Последняя обработанная фотка</h5>
            <img class="img-fluid w-50" id="img-out" src="/media/out_quote.png">
        </div>
        <div class="col-md-6 mb-2">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
{#                {{ addform }}#}
                {{ form|bootstrap_horizontal }}
                <div class="row">
                    <div id="cropper"></div>
                </div>
{#                <div class="form-group row">#}
{#                    <label class="col-sm-3 col-form-label text-left">肖芯褌芯*</label>#}
{#                    <div class="col-sm-9">#}
{#                        <div class="row">#}
{#                            <div id="cropper"></div>#}
{#                            {{ form.img }}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <button type="submit" class="ml-3 btn btn-primary">Сохранить</button>
            </form>
        </div>

    </div>
    {{ form.media }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script>
        function goBack() {
            window.history.back();
        }
        $("textarea").on('keyup', function () {
            var txt = $(this).val();

            $.ajax({
               type: "POST",
               url: "",
               data: {'txt': txt, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                   d = new Date();
                   $("#img-out").attr("src", "/media/out.png?"+d.getTime());
               },
                error: function(rs, e) {
                }
             });
        });
    </script>
</body>
</html>
